# Fichier de configuration pour le répertoire /apps/fta/ 
Options +FollowSymLinks
Options +Indexes
RewriteEngine On


#RewriteCond %{QUERY_STRING}  ^id_fta=([^/]+)&synthese_action=([^/]+)&comeback=([^/]+)&id_fta_etat=([^/]+)&abreviation_fta_etat=([^/]+)&id_fta_role=([^/]+)
#RewriteRule ^(.+)$  modification_fiche.php [QSA,L]
#RewriteRule ^\-modification_fiche\.php(?:[0-9A-Za-z.-]*)-(?:[0-9A-Za-z.-]*)-(?:[0-9A-Za-z.-]*)-(?:[0-9A-Za-z.-]*)-(?:[0-9A-Za-z.-]*)-(?:[0-9A-Za-z.-]*)$ apps/fta/modification_fiche.php?id_fta=$1&synthese_action=$2&comeback=$3&id_fta_etat=$4&abreviation_fta_etat=$5&id_fta_role=$6 [L]
#RewriteRule ^modification_fiche-([0-9]+)-(.+)-([0-9]+)-([0-9]+)-(.+)-([0-9]+)\.php$  modification_fiche.phpid_fta=$1&synthese_action=$2&comeback=$3&id_fta_etat=$4&abreviation_fta_etat=$5&id_fta_role=$6 [L]
#RewriteRule ^index\.php$ index.php [L]
#RewriteRule ^modification_fiche-([0-9]+).html$ /page.php?param=$1 [L]



# Si modification_fiche.php
#RewriteCond %{REQUEST_URI} /modification_fiche.php 
# AND QUERY_STRING not null		
RewriteCond %{QUERY_STRING} ^(.+)$ 	
# THEN rewrite to "/" and execute modification_fiche.php?%{QUERY_STRING}		
RewriteRule ^modification_fiche\.php /modification_fiche.php? [L]	

